@import "tailwindcss";

/* Ocultar scrolls */
.scrollbar-none::-webkit-scrollbar {
  display: none; /* Chrome, Safari y Opera */
}

.scrollbar-none {
  -ms-overflow-style: none;  /* IE y Edge */
  scrollbar-width: none;     /* Firefox */
}


.scrollbar-hide {
  -ms-overflow-style: none;  
  scrollbar-width: none;     
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;            
}

body {
  font-family: "Poppins", sans-serif;
}
